<table mat-table [dataSource]="student_data" class="mat-elevation-z8">

    <ng-container matColumnDef="Sno">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.Sno}} </td>
    </ng-container>

    <ng-container matColumnDef="RollNO">
        <th mat-header-cell *matHeaderCellDef>RollNO</th>
        <td mat-cell *matCellDef="let element"> {{element.RollNO}} </td>
    </ng-container>

    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Gender">
      <th mat-header-cell *matHeaderCellDef>Gender</th>
      <td mat-cell *matCellDef="let element"> {{element.Gender}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Dept">
      <th mat-header-cell *matHeaderCellDef>Department</th>
      <td mat-cell *matCellDef="let element"> {{element.Dept}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>